<template>
    {{template}}
</template>
<script lang='ts'>
import { Component, Vue } from 'vue-property-decorator'

@Component
export default class {{dynamicName}} extends Vue {

}
</script>
<style scoped {{style}}>

</style>