import { VuexModule, Module } from 'vuex-module-decorators';
import store from '../index';
@Module({
    dynamic: true,
    name: '{{dynamicName}}',
    store
})
export default class {{dynamicName}} extends VuexModule {
   
}
