declare module '{{hyphensName}}' {
    import { PluginFunction } from 'vue';
    export const install: PluginFunction<{}>;
    interface {{upperName}}{}
    export const {{upperName}}: {{upperName}};
}