declare module '{{hyphensName}}' {
    import { PluginFunction } from 'vue';
    export const install: PluginFunction<{}>;
    interface {{dynamicName}}{}
    export const {{dynamicName}}: {{dynamicName}};
}